.King-Spades
{
    background-image: url("../img/cards/King-Spades.svg");
}

.Queen-Spades
{
    background-image: url("../img/cards/Queen-Spades.svg");
}

.Jack-Spades
{
    background-image: url("../img/cards/Jack-Spades.svg");
}

.Ten-Spades
{
    background-image: url("../img/cards/Ten-Spades.svg");
}

.Nine-Spades
{
    background-image: url("../img/cards/Nine-Spades.svg");
}

.Eight-Spades
{
    background-image: url("../img/cards/Eight-Spades.svg");
}

.Seven-Spades
{
    background-image: url("../img/cards/Seven-Spades.svg");
}

.Six-Spades
{
    background-image: url("../img/cards/Six-Spades.svg");
}

.Five-Spades
{
    background-image: url("../img/cards/Five-Spades.svg");
}

.Four-Spades
{
    background-image: url("../img/cards/Four-Spades.svg");
}

.Three-Spades
{
    background-image: url("../img/cards/Three-Spades.svg");
}

.Two-Spades
{
    background-image: url("../img/cards/Two-Spades.svg");
}

.Ace-Spades
{
    background-image: url("../img/cards/Ace-Spades.svg");
}

.King-Diamonds
{
    background-image: url("../img/cards/King-Diamonds.svg");
}

.Queen-Diamonds
{
    background-image: url("../img/cards/Queen-Diamonds.svg");
}

.Jack-Diamonds
{
    background-image: url("../img/cards/Jack-Diamonds.svg");
}

.Ten-Diamonds
{
    background-image: url("../img/cards/Ten-Diamonds.svg");
}

.Nine-Diamonds
{
    background-image: url("../img/cards/Nine-Diamonds.svg");
}

.Eight-Diamonds
{
    background-image: url("../img/cards/Eight-Diamonds.svg");
}

.Seven-Diamonds
{
    background-image: url("../img/cards/Seven-Diamonds.svg");
}

.Six-Diamonds
{
    background-image: url("../img/cards/Six-Diamonds.svg");
}

.Five-Diamonds
{
    background-image: url("../img/cards/Five-Diamonds.svg");
}

.Four-Diamonds
{
    background-image: url("../img/cards/Four-Diamonds.svg");
}

.Three-Diamonds
{
    background-image: url("../img/cards/Three-Diamonds.svg");
}

.Two-Diamonds
{
    background-image: url("../img/cards/Two-Diamonds.svg");
}

.Ace-Diamonds
{
    background-image: url("../img/cards/Ace-Diamonds.svg");
}

.King-Hearts
{
    background-image: url("../img/cards/King-Hearts.svg");
}

.Queen-Hearts
{
    background-image: url("../img/cards/Queen-Hearts.svg");
}

.Jack-Hearts
{
    background-image: url("../img/cards/Jack-Hearts.svg");
}

.Ten-Hearts
{
    background-image: url("../img/cards/Ten-Hearts.svg");
}

.Nine-Hearts
{
    background-image: url("../img/cards/Nine-Hearts.svg");
}

.Eight-Hearts
{
    background-image: url("../img/cards/Eight-Hearts.svg");
}

.Seven-Hearts
{
    background-image: url("../img/cards/Seven-Hearts.svg");
}

.Six-Hearts
{
    background-image: url("../img/cards/Six-Hearts.svg");
}

.Five-Hearts
{
    background-image: url("../img/cards/Five-Hearts.svg");
}

.Four-Hearts
{
    background-image: url("../img/cards/Four-Hearts.svg");
}

.Three-Hearts
{
    background-image: url("../img/cards/Three-Hearts.svg");
}

.Two-Hearts
{
    background-image: url("../img/cards/Two-Hearts.svg");
}

.Ace-Hearts
{
    background-image: url("../img/cards/Ace-Hearts.svg");
}

.King-Clubs
{
    background-image: url("../img/cards/King-Clubs.svg");
}

.Queen-Clubs
{
    background-image: url("../img/cards/Queen-Clubs.svg");
}

.Jack-Clubs
{
    background-image: url("../img/cards/Jack-Clubs.svg");
}

.Ten-Clubs
{
    background-image: url("../img/cards/Ten-Clubs.svg");
}

.Nine-Clubs
{
    background-image: url("../img/cards/Nine-Clubs.svg");
}

.Eight-Clubs
{
    background-image: url("../img/cards/Eight-Clubs.svg");
}

.Seven-Clubs
{
    background-image: url("../img/cards/Seven-Clubs.svg");
}

.Six-Clubs
{
    background-image: url("../img/cards/Six-Clubs.svg");
}

.Five-Clubs
{
    background-image: url("../img/cards/Five-Clubs.svg");
}

.Four-Clubs
{
    background-image: url("../img/cards/Four-Clubs.svg");
}

.Three-Clubs
{
    background-image: url("../img/cards/Three-Clubs.svg");
}

.Two-Clubs
{
    background-image: url("../img/cards/Two-Clubs.svg");
}

.Ace-Clubs
{
    background-image: url("../img/cards/Ace-Clubs.svg");
}

.No-Card
{
    background-position: 0px 0px;
}

.Hidden-Card
{
    background-position: 0px 0px;
}