body
{
	background-image: url('../img/TableDrop.png');
	margin: 0px;
	padding: 0px;
    overflow: hidden;
    font-family: 'Catamaran', sans-serif;
    color: #EEEEEE;
    font-size: 14px;
    line-height: 1.2em;
}

.big-text
{
    font-size: 19px;
}

.small-text
{
    font-size: 12px;
}

.huge-text
{
    font-size: 24px;
}

button
{
    font-size: 14px;
}

@media (min-width: 480px) and (min-height: 300px)
{
    body
    {
        font-size: 19px;
    }

    button
    {
        font-size: 14px;
    }

    .small-text
    {
        font-size: 14px;
    }

    #hand-button-tip,
    {
        font-size: 15px;
    }

    .big-text
    {
        font-size: 25px;
    }

    .huge-text
    {
        font-size: 30px;
    }
}

@media (min-width: 640px) and (min-height: 400px)
{
    body
    {
        font-size: 24px;
    }

    button
    {
        font-size: 19px;
    }

    .small-text
    {
        font-size: 19px;
    }

    #hand-button-tip
    {
        font-size: 20px;
    }

    .big-text
    {
        font-size: 30px;
    }

    .huge-text
    {
        font-size: 35px;
    }
}

@media (min-width: 960px) and (min-height: 600px)
{
    body
    {
        font-size: 30px;
    }

    button
    {
        font-size: 25px;
    }

    .small-text
    {
        font-size: 25px;
    }

    #hand-button-tip
    {
        font-size: 26px;
    }

    .big-text
    {
        font-size: 36px;
    }

    .huge-text
    {
        font-size: 41px;
    }
}

p
{
    margin: 0px;
    padding: 0px;
}

#gameContainer
{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#gameContainer div
{
 /   margin: 0;
/    padding: 0;
}

#stats
{
    height: 5%;
    width: inherit;
 //   background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
   // background: #B3ECF7;
}

#table
{
    height: 60%;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../img/BoardLine.svg') no-repeat;
    background-size: 100%;
}

#answer
{
    height: 35%;
    width: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /background: #B3ECF7;
    /animation: pulse 3s ease infinite;
}

#answer p
{
    text-align: center;
}

button
{
    border: rgba(80, 80, 80, 0.0) 2px solid;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
    background: none;/rgba(80, 80, 80, 0.5);
    color: #EEEEEE;
    font-weight: bold;
}

button:hover
{
    background: rgba(80, 80, 80, 0.75);
    border: rgba(120, 120, 120, 0.75) 2px solid;
    cursor: pointer;
}

.primary-button
{
    border: rgba(180, 180, 180, 1.0) 2px solid;
    box-shadow: 0px 0px 5px #EEEEEE;
}

.secondary-button
{
    border: rgba(120, 120, 120, 1.0) 2px solid;
    color: #AAAAAA;
}

.primary-button:hover
{
    border: rgba(180, 180, 180, 1.0) 2px solid;
    background: rgba(120, 120, 120, 0.75);
}

.secondary-button:hover
{
    border: rgba(180, 180, 180, 1.0) 2px solid;
    background: rgba(120, 120, 120, 0.75);
}

#hand-buttons
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#hand-buttons button
{
    width: 10%;
    padding: 2px;
}

#hand-buttons span
{
    display: block;
    background-size: 100%;
    width: 100%;
    padding-bottom: 70%;
}

#hand-button-tip
{

}

#answer-review
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#review-next
{
    background: url("../img/next.svg") no-repeat;
    width: 30px;
    background-width: 100%;
    padding: 0px;
}

#review-previous
{
    background: url("../img/back.svg") no-repeat;
    width: 30px;
    background-width: 100%;
    padding: 0px;
}

#review-next span,
#review-previous span
{
    display: block;
    width: 100%;
    padding-bottom: 236%;
}

#answer-description
{
    width: 100%;
    flex: 2;
    text-align: center;
}

.hand-icon
{
    background-position: 0 0;
    background-size: 100%;
}

.icon-high-card
{
    background-image: url("../img/HighCard.svg");
}

.icon-one-pair
{
    background-image: url("../img/OnePair.svg");
}

.icon-two-pair
{
    background-image: url("../img/TwoPairs.svg");
}

.icon-three-of-a-kind
{
    background-image: url("../img/ThreeOfAKind.svg");
}

.icon-straight
{
    background-image: url("../img/Straight.svg");
}

.icon-flush
{
    background-image: url("../img/Flush.svg");
}

.icon-full-house
{
    background-image: url("../img/FullHouse.svg");
}

.icon-four-of-a-kind
{
    background-image: url("../img/FourOfAKind.svg");
}

.icon-straight-flush
{
    background-image: url("../img/StraightFlush.svg");
}

#title
{
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
}

#time
{
    text-align: right;
    padding-left: 10px;
    padding-right: 20px;
}

#blind
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#result,
#setup
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#round-result
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#correct-icon,
#incorrect-icon
{
    width: 50%;
}

.incorrect
{
    background: url('../img/Incorrect.svg');
    background-size: 100%;
    display: block;
    width: 100%;
    padding-top: 85%;
}

.correct
{
    background: url('../img/Correct.svg');
    background-size: 100%;
    display: block;
    width: 100%;
    padding-top: 85%;
}

.gold-star,
.gray-star
{
    width: 5%;
    display: inline-block;
    padding: 0.25%;
}

.gold-star span
{
    background: url('../img/StarGold.svg');
    width: 100%;
    background-size: 100%;
    display: block;
    padding-top: 95%;
}

.gray-star span
{
    background: url('../img/StarGray.svg');
    width: 100%;
    background-size: 100%;
    display: block;
    padding-top: 95%;
}

#round-result-title
{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
 /   background: red;
}

#round-result-metrics
{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
/    background: blue;
}

#round-result-actions
{
    width: 100%;
    height: 25%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
 /   background: yellow;
}

#round-result-accuracy,
#round-result-speed
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#round-result-accuracy
{
    padding-bottom: 10%;
}

#round-result-accuracy label,
#round-result-speed label
{
    text-align: right;
    width: 20%;
    padding-right: 30px;
    font-weight: bold;
}

#action-play-again
{
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

#action-review-answers
{
    padding-left: 20px;
    padding-right: 20px;
}

#setup-hint
{

}

#answer-section,
#hand-ranking
{
    width: 100%;
    height: 100%;
    text-align: center;
}

#hand-ranking p
{
    width: 90%;
}

#hand-ranking p span
{
    width: 80%;
    padding: 0% 0% 0% 5%;
    display: inline-block;
}

#hand-ranking p button
{

}

#hand-ranking button
{
    width: 14%;
}


/*.slider
{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}*/

/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type=range]
{
    -webkit-appearance: none;
    margin: 5px 0px 0px 0px;
    width: 90%;
}

input[type=range]:focus
{   
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track
{
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: #333333;
}

input[type=range]::-webkit-slider-thumb
{
    height: 24px;
    width: 16px;
    background: #BBBBBB;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    border: 2px solid #999999;
    border-radius: 15px;
}

input[type=range]:focus::-webkit-slider-runnable-track
{
    background: #333333;
}

input[type=range]::-moz-range-track
{
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: #333333;
}

input[type=range]::-moz-range-thumb 
{
    height: 24px;
    width: 16px;
    background: #BBBBBB;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 15px;
    margin: 10px 0px;
}

input[type=range]::-ms-track
{
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower
{
    background: #333333;
}

input[type=range]::-ms-fill-upper
{
    background: #333333;
}

input[type=range]::-ms-thumb 
{
    height: 24px;
    width: 16px;
    background: #BBBBBB;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 15px;
    margin-top: 2px;
}

input[type=range]:focus::-ms-fill-lower
{
    background: #333333;
}

input[type=range]:focus::-ms-fill-upper
{
    background: #333333;
}